.bdshare-button-style1-24 .bds_qzone {
	background-position: 0px -52px;
}
.bdshare-button-style1-24 .bds_tsina {
	background-position: 0px -104px;
}
.bdshare-button-style1-24 .bds_renren {
	background-position: 0px -208px;
}
.bdshare-button-style1-24 .bds_tqq {
	background-position: 0px -260px;
}
.bdshare-button-style1-24 .bds_kaixin001 {
	background-position: 0px -312px;
}
.bdshare-button-style1-24 .bds_tqf {
	background-position: 0px -364px;
}
.bdshare-button-style1-24 .bds_hi {
	background-position: 0px -416px;
}
.bdshare-button-style1-24 .bds_douban {
	background-position: 0px -468px;
}
.bdshare-button-style1-24 .bds_tieba {
	background-position: 0px -728px;
}
.bdshare-button-style1-24 .bds_hx {
	background-position: 0px -988px;
}
.bdshare-button-style1-24 .bds_fx {
	background-position: 0px -1040px;
}
.bdshare-button-style1-24 .bds_ty {
	background-position: 0px -1196px;
}
.bdshare-button-style1-24 .bds_fbook {
	background-position: 0px -1352px;
}
.bdshare-button-style1-24 .bds_twi {
	background-position: 0px -1404px;
}
.bdshare-button-style1-24 .bds_linkedin {
	background-position: 0px -1664px;
}
.bdshare-button-style1-24 .bds_meilishuo {
	background-position: 0px -1716px;
}
.bdshare-button-style1-24 .bds_mogujie {
	background-position: 0px -1768px;
}
.bdshare-button-style1-24 .bds_diandian {
	background-position: 0px -1820px;
}
.bdshare-button-style1-24 .bds_huaban {
	background-position: 0px -1872px;
}
.bdshare-button-style1-24 .bds_duitang {
	background-position: 0px -2028px;
}
.bdshare-button-style1-24 .bds_youdao {
	background-position: 0px -2080px;
}
.bdshare-button-style1-24 .bds_wealink {
	background-position: 0px -2184px;
}
.bdshare-button-style1-24 .bds_copy {
	background-position: 0px -2288px;
}
.bdshare-button-style1-24 .bds_mail {
	background-position: 0px -2340px;
}
.bdshare-button-style1-24 .bds_print {
	background-position: 0px -2392px;
}
.bdshare-button-style1-24 .bds_mshare {
	background-position: 0px -2444px;
}
.bdshare-button-style1-24 .bds_sqq {
	background-position: 0px -2652px;
}
.bdshare-button-style1-24 .bds_sdo {
	background-position: 0px -2704px;
}
.bdshare-button-style1-24 .bds_qingbiji {
	background-position: 0px -2756px;
}
.bdshare-button-style1-24 .bds_people {
	background-position: 0px -2808px;
}
.bdshare-button-style1-24 .bds_xinhua {
	background-position: 0px -2912px;
}
.bdshare-button-style1-24 .bds_yaolan {
	background-position: 0px -2964px;
}
.bdshare-button-style1-24 .bds_thx {
	background-position: 0px -2496px;
}
.bdshare-button-style1-24 .bds_bdhome {
	background-position: 0px -156px;
}
.bdshare-button-style1-24 .bds_bdxc {
	background-position: 0px -2548px;
}
.bdshare-button-style1-24 .bds_bdysc {
	background-position: 0px -3068px;
}
.bdshare-button-style1-24 .bds_isohu {
	background-position: 0px -3016px;
}
.bdshare-button-style1-24 .bds_more {
	background-position: 0px 0px;
}
.bdshare-button-style1-24 .bds_ibaidu {
	background-position: 0px -3120px;
}
.bdshare-button-style1-24 .bds_weixin {
	background-position: 0px -1612px;
}
.bdshare-button-style1-24 .bds_iguba {
	background-position: 0px -1300px;
}
.bdshare-button-style1-24 .bds_h163 {
	background-position: 0px -3168px;
}
.bdshare-button-style1-24 .bds_evernotecn {
	background-position: 0px -3211px;
}
.bdshare-button-style1-24 {
	-ms-zoom: 1;
}
.bdshare-button-style1-24::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.bdshare-button-style1-24 a {
	margin: 6px 6px 6px 0px; height: 24px; line-height: 24px; padding-left: 25px; font-size: 18px; float: left; cursor: pointer; background-image: url("../img/share/icons_1_24.png?v=37be22f4.png"); background-repeat: no-repeat; _background-image: url(../img/share/icons_1_24_debase.png?v=37be22f4.png);
}
.bdshare-button-style1-24 .bds_more {
	margin: 6px 6px 6px 0px; height: 24px; line-height: 24px; padding-left: 25px; font-size: 18px; float: left; cursor: pointer; background-image: url("../img/share/icons_1_24.png?v=37be22f4.png"); background-repeat: no-repeat; _background-image: url(../img/share/icons_1_24_debase.png?v=37be22f4.png);
}
.bdshare-button-style1-24 a:hover {
	color: rgb(51, 51, 51); opacity: 0.8;
}
.bdshare-button-style1-24 .bds_more {
	color: rgb(51, 51, 51); float: left;
}
.bdshare-button-style1-24 .bds_count {
	background: url("../img/share/sc.png?v=a970ff04.png") no-repeat 0px 0px; margin: 6px 0px 0px; padding: 0px; width: 45px; height: 24px; text-align: center; color: rgb(51, 51, 51);
}
.bdshare-button-style1-24 .bds_count:hover {
	background-position: -44px 0px;
}
.bdshare-button-style1-24 .bds_button_image {
	margin: 6px 6px 0px 0px; padding: 0px; height: auto; float: left; cursor: pointer;
}
.bdshare-button-style1-24 .bdshare_button_count {
	background: url("../img/share/sc.png?v=a970ff04.png") no-repeat 0px 0px; width: 44px; height: 24px; line-height: 24px;
}
.bdshare-button-style1-24 .bdshare_button_count:hover {
	background-position: -44px 0px;
}
.bds_tsohu {
	display: none;
}
.bds_tfh {
	display: none;
}
.bds_baidu {
	display: none;
}
.bds_qq {
	display: none;
}
.bds_msn {
	display: none;
}
.bds_sohu {
	display: none;
}
.bds_qy {
	display: none;
}
.bds_leho {
	display: none;
}
.bds_ifeng {
	display: none;
}
.bds_ff {
	display: none;
}
.bds_tuita {
	display: none;
}
.bds_ms {
	display: none;
}
.bds_deli {
	display: none;
}
.bds_s51 {
	display: none;
}
.bds_t163 {
	display: none;
}
.bds_share189 {
	display: none;
}
.bds_xg {
	display: none;
}
.bds_s139 {
	display: none;
}
